@using PosSelfService.Common;
@{
    List<ClsBarang> listBarang = (List<ClsBarang>)ViewData["produklist"];
    Layout = null;
}

<div class="container-fluid" style="margin-bottom: 50px;margin-top: 10px;">
    <div class="row">
        <!--Produk Kategori-->
        <div class="col-3 text-center">
            <img src="../../Assets/image/idm_poinntcoffee.jpeg" class="img-thumbnail" alt=""
                 style="height: 160px; margin-bottom: 12px; border-radius: 0.5rem; width: 100%; cursor: pointer;" onclick="onSearchCriteria('POINT COFFEE')">
            <img src="../../Assets/image/idm_saybread.jpeg" class="img-thumbnail" alt=""
                 style="height: 160px; margin-bottom: 12px; border-radius: 0.5rem; width: 100%; cursor: pointer;" onclick="onSearchCriteria('SAY BREAD')">
            <img src="https://c.animaapp.com/q0MeXVJX/img/rectangle-7@2x.png" class="img-thumbnail" alt=""
                 style="height: 160px; margin-bottom: 12px; border-radius: 0.5rem; width: 100%; cursor: pointer;" onclick="onSearchCriteria('Y/CHOICE')">
            <img src="https://c.animaapp.com/q0MeXVJX/img/say-burger-logo@2x.png" class="img-thumbnail" alt=""
                 style="height: 160px; margin-bottom: 12px; border-radius: 0.5rem; width: 100%; cursor: pointer;" onclick="onSearchCriteria('SAY BURGER')">
        </div>

        <div class="col-9 produkjual">
            <div class="row">

                @for (int i = 0; i < listBarang.Count; i++)
                {
                    <div class="col-4 menu-item" style="margin-bottom:55px">
                        <div class="card">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">20%</div>
                            <img src="@listBarang[i].ProductImageString" alt="Foto Produk" style="height:230px;max-width:100%">
                        </div>
                        <h5 class="text-center font_with_resolusi multi-line-text-truncate" style="margin-top: 10px;">
                            @listBarang[i].Nama
                        </h5>
                        <div class="col-12 d-flex justify-content-center">
                            <button type="button" class="btn btn-primary"
                                data-toggle="modal" data-target="#productModal"
                                onclick="showDetail('@listBarang[i].PLU','@listBarang[i].Nama', '@listBarang[i].Desc2', '@listBarang[i].HargaJualRp.ToString("N0")', '@listBarang[i].ProductImageString', '@listBarang[i].mmsr', '@listBarang[i].masr')">
                                <h6 style="margin-top: 5px;">Rp @listBarang[i].HargaJualRp.ToString("N0")</h6>
                            </button>
                        </div>
                    </div><!-- Menu Item -->
                }

            </div>
        </div>
    </div>
</div>

